<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
Hello! <%= locals.name || "World" %>
<br></br>
Hello! This is me writing some nonsense!
<!--Locals are the options passed to the render-->
</body>
</html>